/*Project Colors*/
/*Screen size variables*/
/*Project button mixins*/
/*Project screen-size mixins*/
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #011827;
  align-items: center;
  position: relative;
}
.header .overlay__blur {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5px);
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.header .overlay__blur.active {
  opacity: 1;
  pointer-events: all;
}
.header .header__container {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem 1.2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .header .header__container {
    align-items: flex-end;
  }
}
.header .header__title {
  font-size: 0.85rem;
  color: white;
  width: 3.5rem;
  margin: 0rem 0rem 0rem 0.5rem;
}
@media screen and (min-width: 1280px) {
  .header .header__title {
    width: auto;
    font-size: 1.42rem;
    cursor: pointer;
  }
}
.header .header__logo {
  cursor: pointer;
}
.header .header__menu-button {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}
@media screen and (min-width: 1280px) {
  .header .header__menu-button {
    display: none;
  }
}
.header .header__navigation-close {
  background: none;
  border: none;
}
@media screen and (min-width: 1280px) {
  .header .header__navigation-close {
    display: none;
  }
}
.header .header__navigation {
  display: none;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header .header__navigation {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 0.3rem;
  }
}
.header .header__navigation.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 92%;
  height: 95%;
  background-color: #011827;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.1s ease-in forwards;
  animation-delay: 0.15s;
}
.header .header__navigation.overlay .header__navigation-close {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.header .header__navigation .header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .header .header__navigation .header__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header .header__navigation .header__menu-item {
  padding: 0.9rem;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .header .header__navigation .header__menu-item {
    padding: 0.5rem;
  }
}
.header .header__navigation .header__menu-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.28rem;
}
@media screen and (min-width: 1280px) {
  .header .header__navigation .header__menu-link {
    font-size: 0.85rem;
  }
}
.header .header__navigation .header__menu-link:hover {
  color: #8acfe5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.introduction .introduction__image {
  width: 100%;
}
.introduction .introduction__image--mobile {
  max-height: 468px;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__image--mobile {
    display: none;
  }
}
.introduction .introduction__image--desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__image--desktop {
    display: block;
  }
}
.introduction .introduction__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;
    transform: translateY(-2.3rem);
  }
}
.introduction .introduction__button--onsite {
  background-color: #8acfe5;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  width: 11rem;
  height: 2.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction .introduction__button--online {
  text-decoration: underline;
  background-color: white;
  border: none;
  padding: 1rem;
  color: #36769d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__button--online {
    background-color: #e3170a;
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 11rem;
    height: 2.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
  }
}

.reviews {
  padding: 0.3rem 1rem 1rem 1rem;
  max-width: 20rem;
  margin: 0 auto;
}
.reviews .reviews__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reviews .reviews__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  flex: 1;
}
.reviews .reviews__item--second {
  display: none;
}
@media screen and (min-width: 1280px) {
  .reviews .reviews__item--second {
    display: grid;
  }
}
.reviews .reviews__user {
  grid-row: 1/1;
  height: 2.57rem;
  width: 2.61rem;
}
@media screen and (min-width: 1280px) {
  .reviews .reviews__user {
    width: 3.42rem;
    height: 3.42rem;
  }
}
.reviews .reviews__content {
  display: flex;
  flex-direction: column;
}
.reviews .reviews__text {
  margin: 0;
  font-size: 0.85rem;
  font-style: italic;
}
.reviews .reviews__date {
  margin: 0;
  font-size: 0.64rem;
  margin-top: 0.2rem;
}
@media screen and (min-width: 1280px) {
  .reviews .reviews__date {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    max-width: 1200px;
    margin: 0 auto;
  }
  .reviews .reviews__container {
    flex-direction: row;
    justify-content: center;
    padding: 0 1.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
.content .content__heading {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  margin: 2.6rem 0rem 0.5rem 0rem;
}
@media screen and (min-width: 1280px) {
  .content .content__heading {
    font-size: 1.28rem;
    margin: 2.8rem 0rem 2.1rem 0rem;
  }
}
.content .content__rooms {
  display: flex;
  overflow-x: auto;
  gap: 1.4rem;
  padding: 1rem;
  margin-left: 0.9rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content .content__rooms::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1280px) {
  .content .content__rooms {
    overflow-x: hidden;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 1280px;
  }
}
.content .content__room {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #b6bdb5;
  border-radius: 0.4rem;
  width: 13rem;
  overflow: hidden;
  flex: 0 0 auto;
}
.content .content__room:hover {
  box-shadow: 0px 0px 10px 5px #b6bdb5;
}
@media screen and (min-width: 1280px) {
  .content .content__room {
    margin: 0;
  }
}
.content .room {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content .room__heading {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.6rem;
  margin: 0.3rem 0rem 0rem 0rem;
}
.content .room__image-container {
  position: relative;
  width: 100%;
}
.content .room__img {
  width: 100%;
  height: auto;
  display: block;
}
.content .room__stars {
  position: absolute;
  bottom: 0.5rem;
  left: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0;
}
.content .room__stars i {
  color: #e3170a;
  font-size: 0.7rem;
}
.content .room__type-icon {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  color: #e3170a;
}
.content .room__participants {
  font-size: 0.57rem;
  padding-left: 0.6rem;
  margin: 0.3rem 0rem 0rem 0rem;
}
.content .room__info {
  font-size: 0.64rem;
  padding: 0.5rem 0.5rem 0 0.6rem;
  margin: 0;
  flex-grow: 1;
}
.content .challenges__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  margin-top: auto;
}
.content .room__button--onsite,
.content .room__button--online {
  background-color: #e3170a;
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.42rem 1.15rem;
  margin-top: 0.3rem;
}
.content .room__button--onsite:hover,
.content .room__button--online:hover {
  cursor: pointer;
}
.content .content__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 1280px) {
  .content .content__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
    padding-bottom: 3.1rem;
    margin: 1.4rem 0rem 0rem 0rem;
  }
}
.content .content__navigation-button {
  background-color: #8acfe5;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  width: 11rem;
  height: 2.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content__navigation-link {
  text-decoration: underline;
  background-color: white;
  border: none;
  padding: 1rem;
  color: #36769d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
}
@media screen and (min-width: 1280px) {
  .content .content__navigation-link {
    background-color: #e3170a;
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 11rem;
    height: 2.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
  }
}
.content .content__story {
  background-color: #011827;
}
.content .content__story .story__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .content .content__story .story__container {
    padding: 3.7rem 1rem 2.8rem 1rem;
  }
}
.content .content__story .story__text {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 2.3rem;
  width: 19rem;
}
@media screen and (min-width: 1280px) {
  .content .content__story .story__text {
    width: 22rem;
    margin: 0.6rem 0rem 0.5rem 0rem;
  }
}
.content .content__story .story__button {
  background-color: #011827;
  border: 2px solid #8acfe5;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: #8acfe5;
  text-decoration: none;
  width: 11rem;
  height: 2.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9rem 0rem 2.2rem 0rem;
}

@media screen and (min-width: 1280px) {
  .play .play__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 6.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .play .play__image--first {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 1280px) {
  .play .play__image--second {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.play .play__content--first {
  padding: 0.8rem;
}
@media screen and (min-width: 1280px) {
  .play .play__content--first {
    grid-column: 2/2;
    grid-row: 1/1;
    display: block;
    margin: auto;
  }
}
.play .play__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play .play__heading {
  font-size: 1.14rem;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  .play .play__heading {
    width: 15rem;
    margin: 1rem 0rem 0.58rem 0rem;
  }
}
.play .play__text {
  font-size: 0.85rem;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  .play .play__text {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.play .play__button--book,
.play .play__button--challenges {
  background-color: #e3170a;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  width: 11rem;
  height: 2.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 1.45rem 0rem;
}
.play .play__button--book:hover,
.play .play__button--challenges:hover {
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .play .play__button--book,
  .play .play__button--challenges {
    margin: 0rem 0rem 1.45rem 0rem;
  }
}
.play .play__content--second {
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .play .play__content--second {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: auto;
  }
}

.footer {
  margin-top: 1.1rem;
  background-color: #011827;
  color: white;
  height: 21rem;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 3.1rem;
    height: 16.7rem;
  }
}
.footer .footer__company {
  margin-top: 0.3rem;
}
@media screen and (min-width: 1280px) {
  .footer .footer__company {
    margin: 2.2rem 0rem 0rem 1rem;
  }
}
.footer .footer__company .footer__heading--company {
  font-size: 0.65rem;
  font-weight: 700;
  margin: 0;
}
.footer .footer__company .footer__text {
  font-size: 0.65rem;
  margin-top: 0.25rem;
  width: 17rem;
}
.footer .footer__contact {
  margin-top: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .footer .footer__contact {
    margin-top: 2.2rem;
  }
}
.footer .footer__contact .footer__heading--contact {
  font-size: 0.65rem;
  font-weight: 700;
  margin: 0;
}
.footer .footer__contact .footer__menu--contact {
  list-style-type: none;
  padding: 0;
  margin-top: 0.25rem;
}
.footer .footer__contact .footer__menu--contact .footer__menu-link {
  color: white;
  text-decoration: none;
  font-size: 0.65rem;
  display: block;
}
.footer .footer__contact .footer__menu--play {
  list-style: none;
  padding: 0;
}
.footer .footer__contact .footer__menu--play .footer__menu-link {
  color: white;
  text-decoration: none;
  font-size: 0.65rem;
  display: block;
}
.footer .footer__media {
  margin-top: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .footer .footer__media {
    margin-top: 2.2rem;
  }
}
.footer .footer__media .footer__heading--media {
  font-size: 0.65rem;
  font-weight: 700;
  margin: 0;
}
.footer .footer__media .footer__menu--media {
  list-style-type: none;
  margin-top: 0.25rem;
  padding: 0;
}
.footer .footer__media .footer__menu--media .footer__menu-link {
  color: white;
  text-decoration: none;
  font-size: 0.65rem;
  display: block;
}

#hidden {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(112, 112, 112, 0.7);
}

.modal__content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(201, 200, 200);
  width: 40%;
  height: 60%;
  z-index: 2;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 12px 0 25px 10px;
  top: 20%;
  left: 30%;
  color: rgb(26, 26, 26);
  opacity: 75%;
  z-index: 4;
}

.modal__p-text {
  font-size: 0.6rem;
  font-weight: 500;
  color: rgb(26, 26, 26);
  opacity: 75%;
  margin: 0 0 15px 10px;
  z-index: 4;
}

.modal__p-date {
  font-size: 0.5rem;
  font-weight: 600;
  margin: 0px 0px 0px 10px;
  color: rgb(26, 26, 26);
  opacity: 75%;
  z-index: 4;
}

.modal__input {
  margin-left: 10px;
  border-radius: 3px;
  border-color: gray;
  border-style: solid;
  height: 40px;
  width: 180px;
  z-index: 4;
}

.modal__button {
  position: fixed;
  height: 40px;
  width: 190px;
  background-color: #e3170a;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  bottom: 22%;
  right: 31%;
  z-index: 4;
}

@keyframes dateError {
  0%, 100% {
    color: red;
  }
  50% {
    color: white;
  }
}
.modal__button_close {
  position: fixed;
  height: 40px;
  width: 50px;
  background-color: white;
  border-color: white;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  top: 22%;
  right: 31%;
  z-index: 4;
}

.modal__date_error_text {
  position: fixed;
  color: red;
  opacity: 75%;
  margin: 0 0 0 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.5rem;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-name: dateError;
}

::-webkit-datetime-edit-month-field {
  color: grey;
  margin: 0 1em 0 1em;
}

::-webkit-datetime-edit-day-field {
  color: grey;
  margin: 0 1em 0 1em;
}

::-webkit-datetime-edit-year-field {
  color: grey;
  margin: 1em 0 0 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.7);
  z-index: 5;
  display: hidden;
}

#time_options {
  display: block;
}

#time_options option {
  color: black;
}

.book_modal {
  background-color: white;
  margin: auto;
  border: 2px solid rgb(201, 200, 200);
  width: 40%;
  height: 60%;
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  display: hidden;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4em;
  margin: 30px 0 20px 30px;
  text-align: start;
  color: rgb(26, 26, 26);
  opacity: 75%;
}

#name-text,
#email-text {
  position: relative;
  margin: 0px 0 10px 30px;
  bottom: 2px;
  border-radius: 3px;
  border-color: rgb(201, 200, 200);
  border-style: solid;
  height: 30px;
  width: 250px;
}

#booking-time,
#time_options,
#participants_number {
  position: relative;
  margin: 0px 0 10px 30px;
  bottom: 2px;
  border-radius: 3px;
  border-color: rgb(201, 200, 200);
  border-style: solid;
  height: 30px;
  width: 150px;
}

.book_name,
.book_email {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 -5px 30px;
  display: flex;
  color: rgb(26, 26, 26);
  opacity: 75%;
}

.book_time {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 0 0px 30px;
  display: flex;
  color: rgb(26, 26, 26);
  opacity: 75%;
}

.book_participants {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 0 -5px 30px;
  display: flex;
  color: rgb(26, 26, 26);
  opacity: 75%;
}

.booking_button {
  position: fixed;
  height: 36px;
  width: 130px;
  background-color: #e3170a;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  bottom: 22%;
  right: 31%;
  border: none;
}

.phone_number {
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0 -5px 30px;
  display: flex;
  color: rgb(26, 26, 26);
  opacity: 75%;
}

#phone-number {
  position: relative;
  margin: 0px 0 10px 30px;
  bottom: 2px;
  border-radius: 3px;
  border-color: rgb(201, 200, 200);
  border-style: solid;
  height: 30px;
  width: 250px;
}

.booking_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filter {
  /* Made the filter window only visible in desktop mode, for now */
  display: none;
}
@media screen and (min-width: 1280px) {
  .filter {
    display: grid;
  }
  .filter .filter__button {
    background-color: #8acfe5;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    width: 11rem;
    height: 2.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.2rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .filter .filter__button:hover {
    background-color: lightblue;
  }
  .filter .filter__title {
    color: #011827;
    font-size: 1.2em;
    margin: 0.6em auto 1em 1em;
  }
  .filter .filter__form {
    display: none;
    position: relative;
    border: 2px solid #c4c4c4;
    box-shadow: 0 0 5px 1px lightgrey;
    width: 90%;
    margin: 0 auto;
  }
  .filter .filter__form .filter__form__close-button {
    width: 1.5rem;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    cursor: pointer;
  }
  .filter h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.5rem auto;
  }
  .filter h4 {
    margin-left: 2%;
    font-weight: normal;
  }
  .filter ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
  }
  .filter ul li {
    margin-top: 1rem;
  }
  .filter ul li h5 {
    font-size: 0.7rem;
    margin: 0 0 0.3rem 0;
    width: fit-content;
    color: #011827;
  }
  .filter ul li input[type=checkbox] {
    width: 0.65rem;
    height: 0.65rem;
    cursor: pointer;
  }
  .filter ul li input[type=text] {
    border-radius: 3px;
    border: 2px solid #8acfe5;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    padding: 1em;
    padding-left: 0.5em;
    margin: 0.3rem 0 0 0;
    width: 13rem;
    height: 1.5rem;
  }
  .filter ul li input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 1px #8acfe5;
  }
  .filter ul li label {
    font-size: 0.7rem;
  }
  .filter ul .filter__type {
    grid-column: 1;
    margin-left: 1rem;
  }
  .filter ul .filter__rating {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-column: 2;
  }
  .filter ul .filter__rating h5 {
    grid-row: 1;
    margin: 0;
  }
  .filter ul .filter__rating .filter__first-rate {
    grid-row: 2;
  }
  .filter ul .filter__rating button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }
  .filter ul .filter__rating button i {
    color: red;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: -0.15rem;
  }
  .filter ul .filter__rating p {
    grid-row: 2;
    margin: 0.1rem;
    margin-left: -0.5rem;
    width: fit-content;
  }
  .filter ul .filter__rating .filter__second-rate {
    grid-row: 2;
    margin-left: -1rem;
  }
  .filter ul .filter__tag {
    grid-column: 3;
    margin-left: 2rem;
  }
  .filter ul .filter__tag button {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: 2px solid red;
    border-radius: 1em;
    font-size: 0.6em;
    padding: 0.25em 0.5em;
    margin-bottom: 3px;
    cursor: pointer;
  }
  .filter ul .filter__tag button.active {
    background-color: red;
    color: white;
  }
  .filter ul .filter__tag button:hover {
    background-color: red;
    color: white;
  }
  .filter ul .filter__keyword {
    grid-column: 2;
    margin-top: 2rem;
  }
}

.challenges {
  margin-top: 2rem;
}
.challenges #challenges__container {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}
.challenges .challenges__room {
  box-shadow: 0px 0px 10px 0px #b6bdb5;
  border-radius: 0.4rem;
  width: 13rem;
  overflow: hidden;
}
.challenges .challenges__room:hover {
  box-shadow: 0px 0px 10px 5px #b6bdb5;
}
.challenges .room {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.challenges .room__image-container {
  position: relative;
  width: 100%;
}
.challenges .room__img {
  width: 100%;
  height: auto;
  display: block;
}
.challenges .room__stars {
  position: absolute;
  bottom: 0.5rem;
  left: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0;
}
.challenges .room__stars i {
  color: #e3170a;
  font-size: 0.7rem;
}
.challenges .room__type-icon {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  color: #e3170a;
}
.challenges .room__heading {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.6rem;
  margin: 0.3rem 0rem 0rem 0rem;
}
.challenges .room__participants {
  font-size: 0.57rem;
  padding-left: 0.6rem;
  margin: 0.3rem 0rem 0rem 0rem;
}
.challenges .room__info {
  font-size: 0.64rem;
  padding: 0.5rem 0.5rem 0 0.6rem;
  margin: 0;
  flex-grow: 1;
}
.challenges .challenges__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.challenges .room__button--onsite {
  background-color: #e3170a;
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.42rem 1.15rem;
  margin-top: 0.3rem;
}
.challenges .room__button--onsite:hover {
  cursor: pointer;
}
.challenges .room__button--online {
  background-color: #e3170a;
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.42rem 1.15rem;
  margin-top: 0.3rem;
}
.challenges .room__button--online:hover {
  cursor: pointer;
}

.filter__message {
  text-align: center;
  font-size: 1rem;
  grid-column: 2;
  margin-top: 5rem;
  padding: 1rem;
}

.modal3 {
  background-color: white;
  text-align: center;
  position: fixed;
  border: 2px solid #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  width: 40%;
  height: 60%;
  z-index: 9999;
  top: 20%;
  left: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.modal3 {
  align-items: center;
}

.modalTitle {
  font-size: 35px;
  color: #333;
  margin: 25% auto 1rem auto;
}

.challengesLink {
  font-size: 15px;
  padding: 0px 20px 0px 20px;
  text-decoration: underline;
  color: rgb(33, 73, 204);
  border-radius: 5px;
  transition: color 0.3s;
}

.about__title {
  text-align: center;
  font-size: 1.1rem;
}
.about__title, .about__text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.about__title {
  margin-top: 2rem;
}
.about__text p {
  white-space: pre-line;
  text-align: center;
  font-size: 1rem;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  background-color: #011827;
}

body {
  padding: 0;
  margin: 0;
  max-width: 1500px;
  margin: auto;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
